{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joakillo BarberShop</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-50 text-gray-800">

    <!-- NAV -->
    <nav class="bg-white shadow p-4 relative z-40">
        <h1 class="text-2xl font-bold">Joakillo BarberShop</h1>
    </nav>

    <!-- MENSAJES -->
    {% if messages %}
    <div id="overlay-message"
            class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50 backdrop-blur-sm">

            {% for message in messages %}
            <div id="bubble"
                 class="bg-white rounded-3xl shadow-2xl p-10 text-center max-w-md mx-6
                    transform scale-75 opacity-0 transition-all duration-700 ease-out">

                <div class="text-4xl mb-4">✂️</div>

                <h2 class="text-2xl font-bold mb-3 text-gray-800">
                    ¡Cita agendada!
                </h2>

                <p class="text-gray-600 text-lg">
                 {{ message }}
                </p>

            </div>
            {% endfor %}
    </div>
    {% endif %}


    <!-- CONTENIDO -->
    <main class="container mx-auto p-6">
        {% block content %}{% endblock %}
    </main>

    <!-- AUTO OCULTAR MENSAJE -->
    <script>
        setTimeout(() => {
            const msg = document.getElementById('flash-message');
            if (msg) {
                msg.classList.add('opacity-0', 'transition', 'duration-500');
                setTimeout(() => msg.remove(), 500);
            }
        }, 4000);
    </script>

    <script>
    document.addEventListener("DOMContentLoaded", () => {
        const bubble = document.getElementById("bubble");
        const overlay = document.getElementById("overlay-message");

        if (bubble && overlay) {
            // Animación de entrada
            setTimeout(() => {
                bubble.classList.remove("scale-75", "opacity-0");
                bubble.classList.add("scale-100", "opacity-100");
            }, 100);

            // Animación de salida
            setTimeout(() => {
                bubble.classList.add("scale-90", "opacity-0");
                overlay.classList.add("opacity-0", "transition", "duration-700");
            }, 3500);

            // Eliminar del DOM
            setTimeout(() => {
                overlay.remove();
            }, 4200);
        }
    });
</script>


</body>
</html>
