{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joakillo BarberShop</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-50 text-gray-800">

    <!-- NAV -->
    <nav class="bg-white shadow p-4">
        <h1 class="text-2xl font-bold">Joakillo BarberShop</h1>
    </nav>

    <!-- CONTENIDO -->
    <main class="container mx-auto p-6">
        {% block content %}{% endblock %}
    </main>

</body>
</html>
